* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-three .pricing .container, .section-three .pricing, .section-three .service .container, .section-three .service {
  position: relative;
  z-index: 20;
}

.section-five .text .web, .section-five .text .logo, .section-five, .section-four .container .left, .section-four .container, .section-four, .section-three .pricing .container .content, .section-three .pricing, .section-three .service .container .content .offer, .section-three .service .container .content, .section-three .service, .work, .section-two .top, .landing-banner div, .landing-banner, .navigation .nav-link, .navigation .logo, .navigation {
  display: flex;
  align-items: center;
}

.section-four .container .content .bg, .work .grid .video {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.section-five .text, .section-two .top .story, .section-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.section-three .pricing .container .content .boxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.section-three .pricing .container .content .boxes .box {
  background-color: rgb(81, 81, 250);
  font-size: 0;
  color: white;
  font-weight: 0;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 9rem;
}
.section-three .pricing .container .content .boxes .box h4 {
  background-color: 0;
  font-size: 10px;
  color: white;
  font-weight: 700;
  padding: 0 0;
  border: none;
  border-radius: 0;
}
.section-three .pricing .container .content .boxes .box p {
  background-color: 0;
  font-size: 10px;
  color: white;
  font-weight: 700;
  padding: 0 0;
  border: none;
  border-radius: 0;
}
.section-three .pricing .container .content .boxes .box .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-three .pricing .container .content .boxes .box .buy h3 {
  background-color: 0;
  font-size: 20px;
  color: white;
  font-weight: 800;
  padding: 0 0;
  border: none;
  border-radius: 0;
}
.section-three .pricing .container .content .boxes .box .buy a {
  border: none;
}
.section-three .pricing .container .content .boxes .box .buy a button {
  background-color: white;
  font-size: 10px;
  color: black;
  font-weight: 600;
  padding: 8px 1rem;
  border: none;
  border-radius: 0;
  border: none;
}

.section-three .pricing p, .section-three .service p {
  background-color: 0;
  font-size: 15px;
  color: white;
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
  width: 40rem;
  text-align: center;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.navigation {
  justify-content: space-between;
  padding: 1rem;
}
.navigation .logo {
  gap: 8px;
}
.navigation .nav-link {
  gap: 3rem;
}
.navigation .nav-link a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.navigation .nav-link a button {
  background-color: rgb(85, 85, 246);
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 40px;
}

.landing-banner {
  background-image: url(../assets/images/landing-banner-image.png);
  width: 100%;
  height: 80vh;
  justify-content: center;
}
.landing-banner div {
  background-color: 0;
  font-size: large;
  color: white;
  font-weight: 0;
  padding: 5rem 5rem;
  border: none;
  border-radius: 0;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  width: 60rem;
}
.landing-banner div h1 {
  background-color: 0;
  font-size: 5rem;
  color: 0;
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
  text-align: center;
}
.landing-banner div p {
  width: 35rem;
  text-align: center;
}
.landing-banner div button {
  background-color: rgb(81, 81, 250);
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 40px;
}

.section-two {
  padding: 5rem;
}
.section-two .top {
  justify-content: space-between;
  width: 100%;
}
.section-two .top .story h1 {
  background-color: 0;
  font-size: 30px;
  color: rgb(81, 81, 250);
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
  width: 20rem;
}
.section-two .top .story p {
  width: 26rem;
}
.section-two .top .story h5 {
  width: 20rem;
}
.section-two .top img {
  width: 25rem;
  height: 15rem;
}

.work {
  flex-direction: column;
  justify-content: center;
}
.work h1 {
  background-color: 0;
  font-size: 40px;
  color: rgb(81, 81, 250);
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
  width: 20rem;
}
.work .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  gap: 1rem;
}
.work .grid .video {
  width: 23rem;
  height: 40rem;
}
.work .grid .video .play {
  width: 100%;
  height: 15rem;
  background-color: rgb(193, 191, 191);
  position: relative;
  z-index: 10;
}
.work .grid .video .play img {
  background-color: 0;
  font-size: 0;
  color: 0;
  font-weight: 0;
  padding: 1rem 1rem;
  border: none;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 100px;
  left: 160px;
  z-index: 15;
}
.work .grid .video h1 {
  background-color: 0;
  font-size: 24px;
  color: rgb(81, 81, 250);
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
  width: fit-content;
}
.work .grid .video div {
  width: 5rem;
  height: 4px;
  background-color: rgb(193, 191, 191);
}
.work .grid .middle h1 {
  margin-bottom: 2rem;
}
.work .grid .balance h4 {
  margin-bottom: 1.5rem;
}

.section-three {
  width: 100%;
  height: 230vh;
  background-color: black;
}
.section-three img {
  width: 15rem;
  height: 25rem;
}
.section-three .vector7 {
  position: relative;
  top: 45rem;
  left: 48.68rem;
  width: 15rem;
  height: 21rem;
}
.section-three .service {
  top: -20rem;
  gap: 2rem;
  flex-direction: column;
}
.section-three .service h1 {
  background-color: 0;
  font-size: 40px;
  color: white;
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
}
.section-three .service .container {
  width: 55rem;
  height: 21rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.section-three .service .container .content {
  flex-direction: column;
}
.section-three .service .container .content p {
  width: 120px;
  height: 20px;
  background-color: rgb(81, 81, 250);
}
.section-three .service .container .content .offer {
  width: 17rem;
  height: 17rem;
  background-color: white;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}
.section-three .service .container .content .offer img {
  width: 25px;
  height: 25px;
}
.section-three .service .container .content .offer h5 {
  width: 12rem;
  color: black;
  text-align: center;
}
.section-three .service .container .second {
  align-self: flex-start;
}
.section-three .pricing {
  top: -12rem;
  gap: 2rem;
  flex-direction: column;
}
.section-three .pricing h1 {
  background-color: 0;
  font-size: 40px;
  color: white;
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
}
.section-three .pricing .container {
  width: 55rem;
  height: 21rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section-three .pricing .container .content {
  flex-direction: column;
  background-color: white;
  width: 17rem;
  height: 28rem;
  gap: 2rem;
  justify-content: flex-end;
  padding: 2rem;
}
.section-three .pricing .container .content h2 {
  text-align: center;
}
.section-three .pricing .container .content .boxes .box .buy {
  justify-self: flex-end;
  margin-top: 4rem;
}
.section-three .pricing .container .content .boxes .box .box2 {
  margin-top: 1rem;
}
.section-three .pricing .container .content .boxes .diff {
  height: 18rem;
}
.section-three .pricing .container .content .boxes .diff .buy {
  margin-top: 13rem;
}
.section-three .pricing .container .content2 {
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 17rem;
  height: 10rem;
  gap: 5px;
  justify-content: center;
  padding: 1rem;
}

.section-four {
  width: 100%;
  height: 70vh;
  padding: 2rem;
  gap: 3rem;
}
.section-four .shape {
  margin-top: -4rem;
}
.section-four .shape div {
  width: 8rem;
  height: 4rem;
  background-color: rgb(81, 81, 250);
}
.section-four .shape p {
  width: 4rem;
  height: 3rem;
  background-color: rgb(81, 81, 250);
}
.section-four .container {
  position: relative;
  justify-content: space-between;
  gap: 5rem;
}
.section-four .container .left {
  background-color: 0;
  font-size: 25px;
  color: black;
  font-weight: 700;
  padding: 0 0;
  border: none;
  border-radius: 50%;
  justify-content: center;
}
.section-four .container .content {
  width: 21rem;
  height: 19rem;
  position: relative;
}
.section-four .container .content img {
  background-color: 0;
  font-size: 0;
  color: 0;
  font-weight: 0;
  padding: 0 0;
  border: none;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: -1rem;
  left: 7rem;
  z-index: 30;
}
.section-four .container .content .bg {
  background-color: rgb(81, 81, 255);
  width: 20rem;
  height: 18rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 5rem 2rem 2rem;
  color: white;
  gap: 1rem;
  margin-top: 2rem;
}
.section-four .container .content .bg div {
  width: 2rem;
  height: 1px;
  background-color: whitesmoke;
}
.section-four .container .content .smoke {
  background-color: whitesmoke;
  width: 20rem;
  height: 18rem;
  position: relative;
  top: -17rem;
  left: 1rem;
  z-index: 10;
}

.section-five {
  width: 100%;
  height: 60vh;
  background-color: black;
  color: white;
  justify-content: space-between;
  overflow-y: hidden;
}
.section-five .text {
  margin: 2rem;
}
.section-five .text .light h1 {
  background-color: 0;
  font-size: 40px;
  color: white;
  font-weight: 900;
  padding: 0 0;
  border: none;
  border-radius: 0;
}
.section-five .text .web input {
  width: 20rem;
  height: 3rem;
  background-color: 0;
  font-size: 15px;
  color: whitesmoke;
  font-weight: 400;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.section-five .text .web .subscribe {
  background-color: rgb(81, 81, 250);
  font-size: 15px;
  color: white;
  font-weight: 600;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 10rem;
  height: 3rem;
}

.vector {
  width: 15rem;
  height: 15rem;
  position: relative;
  top: -15rem;
  left: 63.9rem;
}

/*# sourceMappingURL=style.css.map */
