* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%flex {
    display: flex;
    align-items: center;
}

$bg: rgb(85, 85, 246);

@mixin button ($size, $weight, $bg, $color, $py, $px, $rounded) {
    background-color: $bg;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    padding: $py $px;
    border: none;
    border-radius: $rounded;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    // font-family: 'Livvic', sans-serif;
}

.navigation {
    @extend %flex;
    justify-content: space-between;
    padding: 1rem;
    .logo {
        @extend %flex;
        gap: 8px;
    }

    .nav-link {
        @extend %flex;
        gap: 3rem;
        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            color: black;
            button {
                @include button (18px, 600, $bg, white, 1rem, 2rem, 40px);
            }
        }
    }
}

.landing-banner {
    background-image: url(../assets/images/landing-banner-image.png);
    width: 100%;
    height: 80vh;
    @extend %flex;
    justify-content: center;
    div {
        @include button (large, 0, 0, white, 5rem, 5rem, 0);
        @extend %flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        width: 65rem;
        h1 {
            @include button (5rem, 900, 0, 0, 0, 0, 0);
            text-align: center;
        }
        p {
            width: 35rem;
            text-align: center;
        }
        button {
            @include button (18px, 600, rgb(81, 81, 250), white, 1rem, 2rem, 40px);
        }
    }
}